td {
  text-align: center;
}
input[type="file"] {
  display: none;
}
label {
  background: #dddddd;
  font-size: 0.8rem;
  padding: 6px 8px;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 4px;
  opacity: 0.8;
}
label:hover {
  opacity: 1.0;
  transition: 0.3s ease-out;
}
